---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero">
        <div class="cs-container">
            <div class="cs-flex-group">
                <span class="cs-topper">auto price busters, inc</span>
                <h1 class="cs-title">WE'VE GOT <BR> WHAT YOU NEED</h1>
                <!-- <p class="cs-text">
                    Tincidunt lobortis feugiat vivamus at augue eget arcu dictum varius. Nibh tortor id aliquet lectus proin nibh condimentum.
                </p> -->
                <a href="/inventory" class="cs-button-solid">Browse Inventory</a>
                <!-- <a href="/contact" class="cs-button-transparent">
                    <img
                    class="cs-img"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg"
                    alt="play icon"
                    width="17"
                    height="17"/>
                    Get in Touch
                </a> -->
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/cowboy_sunset.png">
            <source media="(min-width: 601px)" srcset="/assets/images/cowboy_sunset.png">
            <img aria-hidden="true" decoding="async" src="/assets/images/cowboy_sunset.png" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services" class="services">
        <!-- Get Icons From flaticon.com -->
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/lasso.svg"
                alt="appliance"
                width="48"
                height="48"
                style="filter: invert(1);"/>
            </picture>
            <h2>Rodeo-Ready Inspections</h2>
            <p>Our certified technicians perform a comprehensive multi-point inspection on every pre-owned vehicle so you can drive away confidently.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/sheriff.svg"
                alt="appliance"
                width="48"
                height="48"
                style="filter: invert(1);"
                />
            </picture>
            <h2>Integrity-First Sales</h2>
            <p>Our dealership is founded on trust, integrity, and respect, offering the best prices and quality in the area so customers keep coming back.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/boot.svg"
                alt="appliance"
                width="48"
                height="48"
                style="filter: invert(1);"/>
            </picture>
            <h2>Saddle-Up Financing</h2>
            <p>We offer fast, flexible financing options designed to fit your budget and get you behind the wheel quickly.</p>
        </div>
    </section>

<!-- ============================================ -->
<!--              Side By Side Reverse            -->
<!-- ============================================ -->

<section id="sbsr-2326">
    <div class="cs-container">
        <div class="cs-content">
  <span class="cs-topper">About Us</span>
  <h2 class="cs-title">Auto Price Busters, Inc.<br> Your Trusted San Antonio Dealer</h2>
  <p class="cs-text">
    We strive to do everything we can to get you the car you’re looking for. As your go-to used car dealership in San Antonio, we pride ourselves on exceptional service and guiding you through our extensive inventory until you ride off into the sunset in your perfect vehicle.
  </p>
  <h3 class="cs-h3">What We Do</h3>
  <ul class="cs-ul">
    <li class="cs-li">
      Extensive selection of quality pre-owned vehicles, hand-picked and priced to sell.
    </li>
    <li class="cs-li">
      Personalized sales experience backed by trust, integrity, and respect.
    </li>
    <li class="cs-li">
      Competitive pricing and rigorous inspections so you can buy with confidence.
    </li>
  </ul>
  <a href="/inventory" class="cs-button-solid">Browse Our Inventory</a>
  <div class="cs-button-box">
    <a class="cs-link" href="tel:210-274-1751">
      <picture class="cs-wrapper">
        <img class="cs-icon" loading="lazy" decoding="async"
             src="/assets/svgs/telephone.svg"
             alt="phone icon" width="24" height="24">
      </picture>
      <div class="cs-info">
        <span class="cs-header">Call Us</span>
        <span class="cs-link-content" style="font-size: .99em;">(210) 274-1751</span>
      </div>
    </a>
    <a class="cs-link" href="mailto:info@autoapb.com">
      <picture class="cs-wrapper">
        <img class="cs-icon" loading="lazy" decoding="async"
             src="/assets/svgs/envelope.svg"
             alt="email icon" width="24" height="24">
      </picture>
      <div class="cs-info">
        <span class="cs-header">Email Us</span>
        <span class="cs-link-content">info@autoapb.com</span>
      </div>
    </a>
  </div>
</div>

        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1" style="border-radius: 8px;">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/ram.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/ram.png">
                <img loading="lazy" decoding="async" src="/assets/images/ram.png" alt="wedding photoshoot" width="297" height="366" style="border-radius: 8px;">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture2" style="border-radius: 8px;">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/lexus.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/lexus.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/lexus.jpg" alt="photograph of a woman" width="405" height="376" style="border-radius: 8px;">
            </picture>
            <!--Middle image-->
            <picture class="cs-picture cs-picture3">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/cowboy-hat1.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/cowboy-hat1.png">
                <img loading="lazy" decoding="async" src="/assets/images/cowboy-hat1.png" alt="children's birthday" width="218" height="155" >
            </picture>
        </div>
    </div>

</section>
        <!-- ============================================ -->
<!--                    Map                       -->
<!-- ============================================ -->

<section id="map-720">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16520.846654706733!2d-98.61112051693907!3d29.4848585468279!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865c5dbef0d4056b%3A0x395335934da5c856!2s5603%20Kenwick%20St%2C%20San%20Antonio%2C%20TX%2078238!5e0!3m2!1sen!2sus!4v1749579439322!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
                                

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <span class="cs-topper">Our Portfolio</span>
            <h2 class="cs-title">Et orci volutpat, back up generator installations</h2>
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port1-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port1.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port1.jpg" alt="new hallway" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port4-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port4.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port4.jpg" alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port7-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port7.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port7.jpg" alt="building a new wall" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port2-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port2.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port2.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port5-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port5.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port5.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port8-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port8.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port8.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port3-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port3.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port3.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port6-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port6.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port6.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port9-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port9.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port9.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>

                </div>
            </div>
            <a href="/projects" class="cs-button-solid">View Full Gallery</a>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="cs-container">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title">Words From Our Customers</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor volutpat porttitor sagittis nunc nisl. Sagittis sit pellentesque gravida viverra. Leo ut sed euismod tortor risus et. Ornare non neque, leo, ornare. Lorem ipsum dolor sit amet.
            </p>
            <ul class="cs-card-group">
                <!-- Review 1 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png"
                    alt="profile picture"
                    width="80"
                    height="80"/>
                    <p class="cs-item-p">
                        Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                    </p>
                    <span class="cs-reviewer">
                        Jon Doe
                        <span class="cs-desc">Homeowner</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16"/>
                </li>
                <!-- Review 2 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png"
                    alt="profile picture"
                    width="80"
                    height="80"/>
                    <p class="cs-item-p">
                        Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                    </p>
                    <span class="cs-reviewer">
                        Jane Doe
                        <span class="cs-desc">Homeowner</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16"/>
                </li>
            </ul>
            <a aria-label="read more reviews" href="/reviews" class="cs-button-solid">Our Reviews</a>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}